apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
        version: v2
    spec:
      imagePullSecrets:
        - name: backend1-acr-secret
      containers:
        - name: backend
          image: webapp2.azurecr.io/api:v1
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
          env:
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: jwt-secret
                  key: jwt-secret-key

            - name: OPENID_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: openid-secret
                  key: OPENID_CLIENT_ID
            - name: OPENID_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: openid-secret
                  key: OPENID_CLIENT_SECRET
            - name: OPENID_REDIRECT_URI
              valueFrom:
                secretKeyRef:
                  name: openid-secret
                  key: OPENID_REDIRECT_URI
            - name: APPLICATIONINSIGHTS_CONNECTION_STRING
              valueFrom:
                secretKeyRef:
                  name: app-insights-secret
                  key: APPLICATIONINSIGHTS_CONNECTION_STRING      